torch==2.1.0
transformers==4.34.0
fastapi==0.103.0
uvicorn==0.22.0
typing-extensions==4.7.1
tokenizers==0.14.1
pydantic==2.4.0
huggingface-hub==0.17.3
sentence-transformers==2.2.2
openai==0.28.1
spacy==3.7.2
en-core-web-sm==3.7.1
nltk==3.8.1
mysql-connector-python==8.2.0
truecase==0.0.14